In [1]:
import pandas as pd

##### Main

In [2]:
def main():
#   Function name: main
#   Description: The entry function of the notebook
    
    data = [
            {"shipment_type": "GROUND", "rate": 1},
            {"shipment_type": "2DAY", "rate": 5},
            {"shipment_type": "EXPRESS", "rate": 10},
            {"shipment_type": "FREIGHT", "rate": 20}
            ]
    
    df = pd.DataFrame(data)
    df.to_csv("../output_tables/rate_sheet.csv", index=False)
    print("rate_sheet.csv table created at ../output_tables/rate_sheet.csv!")
    display(df)

main()

rate_sheet.csv table created at ../output_tables/rate_sheet.csv!

  shipment_type  rate
0        GROUND     1
1          2DAY     5
2       EXPRESS    10
3       FREIGHT    20